<html>
<head>
	<title>About us</title>
	<link rel="stylesheet" type="text/css" href="about-style.css">
</head>
<body>
<section class="Navbar">
<div class="logo">
<%= link_to(image_tag("logo.png", width: "60px"), "/") %>
</div>
		<h1>Beans n Cream</h1>
		<ul>
		    <li>
			  <a href="/">Home</a>
			  <a href="/menu">Order</a>
			  <a href="/about">About us</a>
			</li>
		</ul>
		<button>Sign in</button>
		<button>Sign up</button>
</section>
<section class="aboutus">
	<h1>About us</h1>
	<p>Established in 2019, Beans n cream is a cafeteria.We started our cafe in Guntur as customers are extremly happy with our service and food we decided to expand and then stared branches in Vijayawada,Nellore and Chennai</p>
</section>
</body>
</html>
