<html>
<head>
	<title>Sign In</title>
	<link rel="stylesheet" type="text/css" href="signin-style.css">
</head>
<body>
<section class="Navbar">
		<a href="index.html"><img src="logo.png" width="80px" height="80px"></a>
		<h1>Beans n Cream</h1>
		<ul>
		    <li>
			  <a href="index.html">Home</a>
			  <a href="menu.html">Order</a>
			  <a href="about.html">About us</a>
			</li>
		</ul>
		<button><a href="/signin">Sign in</a></button>
		<button><a href="/signup">Sign up</a></button>
</section>
<p class"Alert"><%= alert %></p>
<div class="signin-form">
<h1>Sign In</h1>
<form action="/" target="_blank" method="get">
  <p>Email</p>
  <input type="email" name="" placeholder="">
  <p>Password</p>
  <input type="password"><br>
  <input class="submit-button" type="submit" value="Submit"><br>
  <a href="/signuppage">Don't have an account?</a>
</form>
</div>
</body>
</html>
