<html>
<head>
	<title>Sign In</title>
	<link rel="stylesheet" type="text/css" href="signin-style.css">
</head>
<body>
<section class="Navbar">
<%= link_to(image_tag("logo.png", width: "60px"), "/") %>
		<h1>Beans n Cream</h1>
		<ul>
		    <li>
			  <a href="index.html">Home</a>
			  <a href="menu.html">Order</a>
			  <a href="about.html">About us</a>
			</li>
		</ul>
		<% if @current_user %>
		<button><a href="/signin">Log in</a></button>
		<% else %>
		<button><a href="/signin">Sign In</a></button>
		<button><a href="/signup">Sign Up</a></button>
		<% end %>
</section>
<p class"Alert"><%= alert %></p>
<div class="signin-form">
<h1>Sign In</h1>
<form action="/" target="_blank" method="post">
  <p>Email</p>
  <input type="email" name="email" placeholder="">
  <p>Password</p>
	<input type="password" name="password"><br>
	<%= form_with(url: "/signin/#{user.id}", method: "post") do %>
	<input class="submit-button" type="submit" value="Submit"><br>
	<% end %>
  <a href="/signuppage">Don't have an account?</a>
</form>
</div>
</body>
</html>
